<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>holidays</title>
  <link rel="icon" href="favicon.svg" type="image/svg+xml" />
  <style type="text/css">
    body {
      font: 15px "Myriad Pro", "Helvetica", Arial, sans-serif;
    }
    ul {
      padding: 0;
    }
    li {
      display: inline-block;
      list-style: none;
      margin: 0 2em 1em 0;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const inputs = document.querySelectorAll('input')
      const links = document.querySelectorAll('a[data-path]')

      const update = () => {
        const filters = []
        inputs.forEach(input => {
          if (input.checked) {
            filters.push(input.name)
          }
        })
        links.forEach(a => {
          const url = new URL([...filters, a.dataset.path].join('/'), window.location)
          url.protocol = 'webcal:'
          a.href = url.href.replace(/\w+:/, 'webcal:')
        })
      }

      inputs.forEach(input => input.addEventListener('change', update))

      update()
    })
  </script>
</head>
<body>
  <h1>holidays.ics</h1>

  <p>
    <a href="https://github.com/toy/holidays.ics">holidays.ics</a> is made with the help of
    <a href="https://github.com/holidays/holidays">holidays</a> and
    <a href="https://github.com/icalendar/icalendar">icalendar</a>
  </p>

  <p>
    <label><input type="checkbox" name="informal" /> include informal</label> (<a href="https://github.com/holidays/definitions/blob/master/doc/SYNTAX.md#formalinformal">description</a>)
    <label><input type="checkbox" name="observed" /> observed dates</label> (<a href="https://github.com/holidays/definitions/blob/master/doc/SYNTAX.md#observed">description</a>)
  </p>

  <ul>
    <% country_regions.group_by{ |region| region.split('_', 2)[0] }.each do |group, regions| %>
      <li>
        <% if regions.delete(group) %>
          <%= webcal_link group %>
        <% else %>
          <span><%= flag_emoji group %> <%= h group %></span>
        <% end %>
        <% unless regions.empty? %>
          (<%= regions.map { |region| webcal_link region }.join(', ') %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul>
    <% other_regions.each do |region| %>
      <li>
        <%= webcal_link region %>
      </li>
    <% end %>
  </ul>
</body>
</html>
